:root {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: white;
  color: #000;
  margin: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  border-bottom: 2px solid #00a2ff;
}

.main-header .logo {
  color: #000;
  font-weight: bold;
  font-size: 96px;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 40px;
  padding: 15px 40px;
  background-color: #f0f0f0;
  border-radius: 50px;
  font-weight: bold;
  
}

.nav-links span {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}